@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 350;
    color: #373737;
    padding: 0;
    margin: 0;
    user-select: none;
}

/* ここからpage1 */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: white;
}

.logo img {
    width: 100px;
    height: auto;
    margin: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.logo img:hover {
    opacity: 0.5;
}

.list ul a {
    text-decoration: none;
}

.list ul li {
    font-size: 20px;
    list-style-type: none;
    display: inline-block;
    margin: 0 30px;
    cursor: pointer;
    transition: all 0.2s ease ;
}

.list ul li:hover {
    opacity: 0.3;
}

/* ここまでheader、コピペでheader完成する */

main h1 {
    font-size: 55px;
    margin: 20px 0px 0px 40px;
}

.table {
    text-align: center;
    margin-top: 5%;
}

.table img{
    width: 70%;
}

/* main table {
    margin: 50px auto;
}

main table th, main table td {
    font-size: 40px;
    border-bottom: 3px solid #373737;
}

main table th {
    text-align: left;
} */