@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 350;
    color: #373737;
    padding: 0;
    margin: 0;
    user-select: none;
}

/* ここからpage1 */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: white;
}

.logo img {
    width: 100px;
    height: auto;
    margin: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.logo img:hover {
    opacity: 0.5;
}

.list ul a {
    text-decoration: none;
}

.list ul li {
    font-size: 20px;
    list-style-type: none;
    display: inline-block;
    margin: 0 30px;
    cursor: pointer;
    transition: all 0.2s ease ;
}

.list ul li:hover {
    opacity: 0.3;
}

/* ここまでheader、コピペでheader完成する */

main h1 {
    font-size: 55px;
    margin: 20px 0px 0px 40px;
}

main table {
    width: 60%;
    margin: 50px auto;
    font-size: 40px;
    border-collapse: collapse;
}

main th, main td {
    text-align: left;
    border-bottom: 2px solid #373737;
    line-height: 2.5;
}

main table .exp {
    text-align: center;
    background: linear-gradient(transparent 55%, #9fc2e0 55%, #9fc2e0 75%, transparent 75%);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    padding: 20px 10px;
}

footer a {
    text-decoration: none;
    margin: 0px 20px;
}

.sns {
    transition: all 0.2s ease;
    cursor: pointer;
    font-size: 30px;
}

.sns-twitter:hover {
    color: rgb(48, 177, 212);
}

.sns-instagram:hover {
    color: #ce4cb8;
}

/* 以下タブレット用CSS */

@media screen and (max-width: 959px) {
    
}

/* ここまでタブレット用CSS */
/* 以下スマホ用CSS */

@media screen and (max-width: 480px) {

}

/* ここまでスマホ用CSS */