@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

* {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 350;
    color: #373737;
    padding: 0;
    margin: 0;
    user-select: none;
}

/* ここからpage1 */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: white;
}

.logo img {
    width: 100px;
    height: auto;
    margin: 20px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.logo img:hover {
    opacity: 0.5;
}

.list ul a {
    text-decoration: none;
}

.list ul li {
    font-size: 20px;
    list-style-type: none;
    display: inline-block;
    margin: 0 30px;
    cursor: pointer;
    transition: all 0.2s ease ;
}

.list ul li:hover {
    opacity: 0.3;
}

/* ここまでheader、コピペでheader完成する */

main {
    display: flex;
    justify-content: space-around;
}

.contact {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    box-shadow: 15px 15px 0px -5px #000000;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
}

.intro span {
    background: linear-gradient(transparent 65%, #9fc2e0 65%, #9fc2e0 90%, transparent 90%);
    font-size: 90%;
}

.url {
    width: 70%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
}